@charset "utf-8";
@import url("font-awesome.min.css");
html{overflow-y:scroll; overflow-x:hidden;}
html, body{margin:0; padding:0; font-size:14px; line-height:1.6em;}

*, *::before, *::after{box-sizing:border-box;}

* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@font-face {
    font-family: Antone DEMO; 
    src: url('fuentes/Antone DEMO.ttf') format('truetype'); 
}
@font-face {
    font-family: STAY HOME; 
    src: url('fuentes/STAY HOME.ttf') format('truetype'); 
}
@font-face {
    font-family: HalloEuroboy_FREE_FOR_PERSONAL_USE_ONLY; 
    src: url('fuentes/HalloEuroboy_FREE_FOR_PERSONAL_USE_ONLY.ttf') format('truetype'); 
}
@font-face {
    font-family: Sublime-Regular; 
    src: url('fuentes/Sublime-Regular.ttf') format('truetype'); 
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;
}

/*BARRA DE NAVEGACION*/

h5 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
  z-index: 3;
  position: relative;
  font-family: Antone DEMO;
  margin-top: 3%;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  position: fixed;
  background-color: #C5C5C7;
  z-index: 7;
  top: 12%;

  li {
    float: left;
    width: 12.5%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 90;
  }
}

a.active {
  background-color: #1f2833;
  pointer-events: none;
}

li.slider {
  width: 12.5%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1f2833;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
  & ~ .slider {
    left: 0;
    background-color: black;
  }
}


.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
  & ~ .slider {
    left: 12.5%;
    background-color: #009C9D;
  }
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
  & ~ .slider {
    left: 25%;
    background-color: #03C0C1;
  }
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
  & ~ .slider {
    left: 37.5%;
    background-color: #00D8D8;
  }
}
.menu li:nth-child(5):hover,
.menu li:nth-child(5):focus,
.menu li:nth-child(5):active {
  & ~ .slider {
    left: 50%;
    background-color: #03FDFC;
  }
}
.menu li:nth-child(6):hover,
.menu li:nth-child(6):focus,
.menu li:nth-child(6):active {
  & ~ .slider {
    left: 62.5%;
    background-color: #00DBFF;
  }
}
.menu li:nth-child(7):hover,
.menu li:nth-child(7):focus,
.menu li:nth-child(7):active {
  & ~ .slider {
    left: 75%;
    background-color: #10A5F5;
  }
}
.menu li:nth-child(8):hover,
.menu li:nth-child(8):focus,
.menu li:nth-child(8):active {
  & ~ .slider {
    left: 87.5%;
    background-color: #0C71E0;
  }
}

.cuadro-flotante3 {
        position: fixed;
        width: 100%;
        height: 15%;
        top: -1%;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        padding: 10px;
        z-index: 2;
    }

/*CUADROS*/
.bold{font-weight:bold;}
.center{text-align:center;}
.right{text-align:right;}
.uppercase{text-transform:uppercase;}
.capitalise{text-transform:capitalize;}
.hidden{display:none;}
.nospace{margin:0; padding:0; list-style:none;}
.block{display:block;}
.inline *{display:inline-block;}
.inline *:last-child{margin-right:0;}
.pushright li{margin-right:20px;}
.pushright li:last-child{margin-right:0;}
.borderedbox{border:1px solid;}
.overlay{position:relative; z-index:1;}
.overlay::after{display:block; position:absolute; top:0; left:0; width:100%; height:100%; content:""; z-index:-1;}
.bgded{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.circle{border-radius:50%; background-clip:padding-box;}

.btn{display:inline-block; padding:8px 18px 10px; text-transform:uppercase; border:1px solid;}

.clear, .group{display:block;}
.clear::before, .clear::after, .group::before, .group::after{display:table; content:"";}
.clear, .clear::after, .group, .group::after{clear:both;}

a{outline:none; text-decoration:none;}

.fl_left, .imgl{float:left;}
.fl_right, .imgr{float:right;}

img{width:auto; max-width:100%; height:auto; margin:0; padding:0; border:none; line-height:normal; vertical-align:middle;}
.imgl{margin:0 15px 10px 0; clear:left;}
.imgr{margin:0 0 10px 15px; clear:right;}
.imgover{display:inline-block; position:relative; max-width:100%;}
.imgover::before, .imgover::after{display:block; position:absolute; content:""; text-align:center; opacity:0;}
.imgover::before{top:0; right:0; bottom:0; left:0;}
.imgover::after{top:50%; left:50%; width:50px; height:50px; line-height:50px; margin:-25px 0 0 -25px; content:"\f06e";/* fa-eye */ font-family:"FontAwesome"; font-size:36px;}
.imgover:hover::before, .imgover:hover::after{opacity:1;}

body, input, textarea, select{font-family:Verdana, Geneva, sans-serif;}
h6, .heading{font-family:Georgia, "Times New Roman", Times, serif;}

form, fieldset, legend{margin:0; padding:0; border:none;}
legend{display:none;}
label, input, textarea, select, button{display:block; resize:none; outline:none; color:inherit; font-size:inherit; font-family:inherit; vertical-align:middle;}
label{margin-bottom:5px;}
:required, :invalid{outline:none; box-shadow:none;}

h6, .heading{margin:0 0 20px 0; font-size:22px; line-height:normal; font-weight:normal; text-transform:capitalize; font-variant:small-caps;}
.heading.nospace{margin-bottom:0;}

address{font-style:normal; font-weight:normal;}
hr{display:block; width:100%; height:1px; border:solid; border-width:1px 0 0 0;}

.font-xs{font-size:.8rem;}
.font-x1{font-size:1.2rem;}
.font-x2{font-size:1.8rem;}
.font-x3{font-size:2.8rem;}

.wrapper{display:block; position:relative; width:100%; margin:0; padding:0; text-align:left; word-wrap:break-word;}
.hoc, .split{display:block; margin:0 auto;}
.one_half, .one_third, .two_third, .one_quarter, .two_quarter, .three_quarter{display:inline-block; float:left; margin:0 0 0 3.06748466257669%; list-style:none;}
.first{margin-left:0; clear:left;}
.one_quarter{width:22.69938650306748%;}
.one_third{width:31.28834355828221%;}
.one_half, .two_quarter{width:48.46625766871166%;}
.two_third{width:65.6441717791411%;}
.three_quarter{width:74.23312883435584%;}

.container{padding:80px 0;}
.split section{display:block; position:relative; float:right; width:50%; padding:100px 0 100px 50px;}
.split section::after{display:block; position:absolute; top:0; right:-1000%; bottom:0; left:100%; content:"";}
.split section .fa-ul{margin:0; padding:0; list-style:none;}
.split section .fa-ul > li{position:relative; margin-bottom:15px; padding-left:30px}
.split section .fa-ul > li:last-child{margin-bottom:0;}
.split section .fa-li{position:absolute; top:2px; left:0; width:auto; font-size:20px;}

.btn, .btn.inverse:hover{color:#FFFFFF; background-color:#009C9D; border-color:#009C9D;}
.btn:hover, .btn.inverse{color:inherit; background-color:transparent; border-color:inherit;}
.imgover:hover::before{background:rgba(0,0,0,.55);}
.imgover:hover::after{color:#FFFFFF;}

.split section, .split section::after{color:#f0f0f0; background-color: rgba(135, 206, 250, 0.55)}
.split section .fa-ul .fa-li{color:#E43F21;}


@media screen and (min-width:978px){
	.hoc, .split{max-width:978px;}
}
