* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;
}

h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  position: relative;
  background-color: #C5C5C7;
  z-index: 7;

  li {
    float: left;
    width: 12.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
  }
}

a.active {
  background-color: #1f2833;
  pointer-events: none;
}

li.slider {
  width: 12.5%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1f2833;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
  & ~ .slider {
    left: 0;
    background-color: #007F80;
  }
}


.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
  & ~ .slider {
    left: 12.5%;
    background-color: #009C9D;
  }
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
  & ~ .slider {
    left: 25%;
    background-color: #03C0C1;
  }
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
  & ~ .slider {
    left: 37.5%;
    background-color: #00D8D8;
  }
}
.menu li:nth-child(5):hover,
.menu li:nth-child(5):focus,
.menu li:nth-child(5):active {
  & ~ .slider {
    left: 50%;
    background-color: #03FDFC;
  }
}
.menu li:nth-child(6):hover,
.menu li:nth-child(6):focus,
.menu li:nth-child(6):active {
  & ~ .slider {
    left: 62.5%;
    background-color: #00DBFF;
  }
}
.menu li:nth-child(7):hover,
.menu li:nth-child(7):focus,
.menu li:nth-child(7):active {
  & ~ .slider {
    left: 75%;
    background-color: #10A5F5;
  }
}
.menu li:nth-child(8):hover,
.menu li:nth-child(8):focus,
.menu li:nth-child(8):active {
  & ~ .slider {
    left: 87.5%;
    background-color: #0C71E0;
  }
}

.parrafo1{
  margin: 50px;
  text-align: justify;
}

.menuImp {
  position: absolute;
  top: 200px; 
  left: 20px; 
  background-color: #007F80;
  width: 200px;
  height: 800px;
  text-align: center;
  padding: 10px; 
  border: 1px solid;
  color: #eee;
}

.menuImp .secc1 a {
  display: inline-block; 
  position: relative; 
  color: #C5C5C7;
  text-decoration: none;

}

.menuImp .secc1 a:hover::after {
  content: 'Impacto a la Sociedad'; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  height: 80px; 
  background-image: linear-gradient(to bottom, #fcfcfc 30%, transparent 100%); 
  background-size: 100% 200%; 
  background-position: 20% 100%; 
  transition: background-position 0.3s;
  color: rgb(2, 0, 0);
}


.menuImp .secc1 a:hover::after {
  background-position: 0 50%; 
}

.menuImp .secc2 a {
  display: inline-block; 
  position: relative; 
  color: #C5C5C7;
  text-decoration: none;

}

.menuImp .secc2 a:hover::after {
  content: 'Casos de Estudio'; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 173px; 
  height: 70px; 
  background-image: linear-gradient(to bottom, #fcfcfc 30%, transparent 100%); 
  background-size: 100% 180%; 
  background-position: 20% 100%; 
  transition: background-position 0.3s; 
  color: rgb(2, 0, 0);
}


.menuImp .secc2 a:hover::after {
  background-position: 0 50%; 
}

.menuImp .secc3 a {
  display: inline-block;
  position: relative; 
  color: #C5C5C7;
  text-decoration: none;

}

.menuImp .secc3 a:hover::after {
  content: 'Fuente Confiables'; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  height: 80px; 
  background-image: linear-gradient(to bottom, #fcfcfc 30%, transparent 100%); 
  background-size: 100% 200%; 
  background-position: 0 100%; 
  transition: background-position 0.3s; 
  color: rgb(2, 0, 0);
}


.menuImp .secc3 a:hover::after {
  background-position: 0 50%; 
}

.inf {
  position: absolute; 
  top: 200px; 
  left: 240px; 
  right: 50px;
  width: 850px;
  height: 900px;
  text-align: center; 
}

.lista{
  text-align: justify;
}

.fuentes{
  text-align: justify;
}

* {
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=PT+Sans);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', Arial, Verdana;
  background-color: #eee;
}

h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  margin: auto;
  position: relative;
  background-color: #C5C5C7;
  z-index: 7;

  li {
    float: left;
    width: 12.5%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
  
  a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-size: 18px;
    z-index: 9;
  }
}

a.active {
  background-color: #1f2833;
  pointer-events: none;
}

li.slider {
  width: 12.5%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #1f2833;
  z-index: 8;
  transition: left .4s, background-color .4s;
}

.menu li:nth-child(1):hover,
.menu li:nth-child(1):focus,
.menu li:nth-child(1):active {
  & ~ .slider {
    left: 0;
    background-color: #007F80;
  }
}


.menu li:nth-child(2):hover,
.menu li:nth-child(2):focus,
.menu li:nth-child(2):active {
  & ~ .slider {
    left: 12.5%;
    background-color: #009C9D;
  }
}

.menu li:nth-child(3):hover,
.menu li:nth-child(3):focus,
.menu li:nth-child(3):active {
  & ~ .slider {
    left: 25%;
    background-color: #03C0C1;
  }
}

.menu li:nth-child(4):hover,
.menu li:nth-child(4):focus,
.menu li:nth-child(4):active {
  & ~ .slider {
    left: 37.5%;
    background-color: #00D8D8;
  }
}
.menu li:nth-child(5):hover,
.menu li:nth-child(5):focus,
.menu li:nth-child(5):active {
  & ~ .slider {
    left: 50%;
    background-color: #03FDFC;
  }
}
.menu li:nth-child(6):hover,
.menu li:nth-child(6):focus,
.menu li:nth-child(6):active {
  & ~ .slider {
    left: 62.5%;
    background-color: #00DBFF;
  }
}
.menu li:nth-child(7):hover,
.menu li:nth-child(7):focus,
.menu li:nth-child(7):active {
  & ~ .slider {
    left: 75%;
    background-color: #10A5F5;
  }
}
.menu li:nth-child(8):hover,
.menu li:nth-child(8):focus,
.menu li:nth-child(8):active {
  & ~ .slider {
    left: 87.5%;
    background-color: #0C71E0;
  }
}

.parrafo1{
  margin: 50px;
  text-align: justify;
}

.menuImp {
  position: absolute;
  top: 200px; 
  left: 20px; 
  background-color: #007F80;
  width: 200px;
  height: 800px;
  text-align: center;
  padding: 10px; 
  border: 1px solid;
  color: #eee;
}

.menuImp .secc1 a {
  display: inline-block; 
  position: relative; 
  color: #C5C5C7;
  text-decoration: none;

}

.menuImp .secc1 a:hover::after {
  content: 'Impacto a la Sociedad'; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  height: 80px; 
  background-image: linear-gradient(to bottom, #fcfcfc 30%, transparent 100%); 
  background-size: 100% 200%; 
  background-position: 20% 100%; 
  transition: background-position 0.3s;
  color: rgb(2, 0, 0);
}


.menuImp .secc1 a:hover::after {
  background-position: 0 50%; 
}

.menuImp .secc2 a {
  display: inline-block; 
  position: relative; 
  color: #C5C5C7;
  text-decoration: none;

}

.menuImp .secc2 a:hover::after {
  content: 'Casos de Estudio'; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 173px; 
  height: 70px; 
  background-image: linear-gradient(to bottom, #fcfcfc 30%, transparent 100%); 
  background-size: 100% 180%; 
  background-position: 20% 100%; 
  transition: background-position 0.3s; 
  color: rgb(2, 0, 0);
}


.menuImp .secc2 a:hover::after {
  background-position: 0 50%; 
}

.menuImp .secc3 a {
  display: inline-block;
  position: relative; 
  color: #C5C5C7;
  text-decoration: none;

}

.menuImp .secc3 a:hover::after {
  content: 'Fuente Confiables'; 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 180px; 
  height: 80px; 
  background-image: linear-gradient(to bottom, #fcfcfc 30%, transparent 100%); 
  background-size: 100% 200%; 
  background-position: 0 100%; 
  transition: background-position 0.3s; 
  color: rgb(2, 0, 0);
}


.menuImp .secc3 a:hover::after {
  background-position: 0 50%; 
}

.inf {
  position: absolute; 
  top: 200px; 
  left: 240px; 
  right: 50px;
  width: 850px;
  height: 900px;
  text-align: center; 
}

.lista{
  text-align: justify;
}

.fuentes{
  text-align: justify;
}

.imagenes {
  position: absolute;
  top: 200px;
  right: 20px;
  left: 1050px;
  border-color: #c5c5c7e7;
  width: 300px; 
  height: 800px; 
  padding: 1px solid;
  text-align: center;
}

.img{
  display: block;
  margin: 10px;
}